ClientShop/src/conf/xml-resources/web-service-references/mahasiswa/wsdl/localhost_8080/ShopServer/mahasiswa.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mahasiswa.server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://mahasiswa.server/" name="mahasiswa">
<types>
<xsd:schema>
<xsd:import namespace="http://mahasiswa.server/" schemaLocation="http://localhost:8080/ShopServer/mahasiswa?xsd=1"/>
</xsd:schema>
</types>
<message name="getData">
<part name="parameters" element="tns:getData"/>
</message>
<message name="getDataResponse">
<part name="parameters" element="tns:getDataResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="editData">
<part name="parameters" element="tns:editData"/>
</message>
<message name="editDataResponse">
<part name="parameters" element="tns:editDataResponse"/>
</message>
<message name="cariData">
<part name="parameters" element="tns:cariData"/>
</message>
<message name="cariDataResponse">
<part name="parameters" element="tns:cariDataResponse"/>
</message>
<message name="urutkanData">
<part name="parameters" element="tns:urutkanData"/>
</message>
<message name="urutkanDataResponse">
<part name="parameters" element="tns:urutkanDataResponse"/>
</message>
<message name="tambahData">
<part name="parameters" element="tns:tambahData"/>
</message>
<message name="tambahDataResponse">
<part name="parameters" element="tns:tambahDataResponse"/>
</message>
<message name="tampilData">
<part name="parameters" element="tns:tampilData"/>
</message>
<message name="tampilDataResponse">
<part name="parameters" element="tns:tampilDataResponse"/>
</message>
<message name="hapusData">
<part name="parameters" element="tns:hapusData"/>
</message>
<message name="hapusDataResponse">
<part name="parameters" element="tns:hapusDataResponse"/>
</message>
<portType name="mhsiswa">
<operation name="getData">
<input wsam:Action="http://mahasiswa.server/mhsiswa/getDataRequest" message="tns:getData"/>
<output wsam:Action="http://mahasiswa.server/mhsiswa/getDataResponse" message="tns:getDataResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://mahasiswa.server/mhsiswa/loginRequest" message="tns:login"/>
<output wsam:Action="http://mahasiswa.server/mhsiswa/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="editData">
<input wsam:Action="http://mahasiswa.server/mhsiswa/editDataRequest" message="tns:editData"/>
<output wsam:Action="http://mahasiswa.server/mhsiswa/editDataResponse" message="tns:editDataResponse"/>
</operation>
<operation name="cariData">
<input wsam:Action="http://mahasiswa.server/mhsiswa/cariDataRequest" message="tns:cariData"/>
<output wsam:Action="http://mahasiswa.server/mhsiswa/cariDataResponse" message="tns:cariDataResponse"/>
</operation>
<operation name="urutkanData">
<input wsam:Action="http://mahasiswa.server/mhsiswa/urutkanDataRequest" message="tns:urutkanData"/>
<output wsam:Action="http://mahasiswa.server/mhsiswa/urutkanDataResponse" message="tns:urutkanDataResponse"/>
</operation>
<operation name="tambahData">
<input wsam:Action="http://mahasiswa.server/mhsiswa/tambahDataRequest" message="tns:tambahData"/>
<output wsam:Action="http://mahasiswa.server/mhsiswa/tambahDataResponse" message="tns:tambahDataResponse"/>
</operation>
<operation name="tampilData">
<input wsam:Action="http://mahasiswa.server/mhsiswa/tampilDataRequest" message="tns:tampilData"/>
<output wsam:Action="http://mahasiswa.server/mhsiswa/tampilDataResponse" message="tns:tampilDataResponse"/>
</operation>
<operation name="hapusData">
<input wsam:Action="http://mahasiswa.server/mhsiswa/hapusDataRequest" message="tns:hapusData"/>
<output wsam:Action="http://mahasiswa.server/mhsiswa/hapusDataResponse" message="tns:hapusDataResponse"/>
</operation>
</portType>
<binding name="mhsiswaPortBinding" type="tns:mhsiswa">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cariData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="urutkanData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tambahData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tampilData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hapusData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="mahasiswa">
<port name="mhsiswaPort" binding="tns:mhsiswaPortBinding">
<soap:address location="http://localhost:8080/ShopServer/mahasiswa"/>
</port>
</service>
</definitions>